<h2 class="name">近畿大学</h2>
<p class="id f">@kinkidaigakuPR</p>
<p class="profile">近畿大学のTwitter公式アカウントです。気象警報による休講情報や、お得なランチ情報など、大学に関する情報を発信します。マグロに関するツイート多め🐟学生のみなさんの相談に乗りますので、くだらないことも気軽に話しかけてください。履修に関するご質問は所属学部。入試に関するご相談は、入学センターへお問い合わせ下さい。</p>
<p class="id f">大阪府東大阪市</p>
<a class="f" href="https://www.instagram.com/kindaiuniversity">instagram.com/kindaiuniversity/</a>
<p class="id f">2010年10月に登録</p>
<a class="side-btn" href="/new">ツイート</a>
<a class="side-btn" href="#">ダイレクトメッセージ</a>