<div id="content-top">
          <a class="top-btn" href="#">ツイート</a>
          <a class="top-btn" href="#">ツイートと返信</a>
          <a class="top-btn" href="#">メディア</a>
        </div>

<% t=Time.current %>
    <% @tweets.each do |tweet| %>
        <div class="index-item">
            <div class="icon">
                <img src="https://pbs.twimg.com/profile_images/1113368983854407680/begsOPlp_400x400.jpg">
            </div>
            <div class="card-body">
                <span class="card-name">近畿大学</span>
                <div class="sub">
                <span>@kinkidaigakuPR</span>
                <%= ((t-tweet.created_at)/60).round %>分前
                </div>
                <br>
                <%= tweet.message %>
                <br>
                
                <%= link_to("表示","/tweets/#{tweet.id}/show",class: "aa") %>
                <%= link_to("編集","/tweets/#{tweet.id}/edit",class: "aa") %>
                <%= link_to("削除","/tweets/#{tweet.id}/destroy",class: "aa") %>
                <br>
            </div>
        </div>
    <% end %>
    
    
    
    
    
    

</div>