
    <h1><%= @tweet.message %> </h1>
    <p><%= @tweet.created_at.strftime("%Y-%m-%d %H:%M") %></p>
        <div class="show-right">
            <%= link_to("削除","/tweets/#{@tweet.id}/destroy") %>
            <%= link_to("編集","/tweets/#{@tweet.id}/edit") %>
            <%= link_to("戻る","/") %>
        </div>