body{
    display:flex;
    background-color: #e6ecf0;
    height: 800px;
    padding:0 0;
}

#container{
    width:900px;
    margin:0 auto;
    
}

#sidebar{
    width:35%;
    padding:16px 20px;
    margin-right:0;
    float:left;
    box-sizing: border-box;
    
}
#content{
    width:65%;
    height: 100%;
    background-color: white;
    float: right;
    margin-top: 35px;
}

#content-top{

    width: 100%;
    height: 45px;
    font-size: 19px;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    line-height: 45px;
}
.top-btn{
    margin-left: 10px;
    color: #1DA1F2;
}
.name{
    margin-bottom: 0;
}
.url{
    color: #1DA1F2;
}
.id{
    color:#AAAAAA;
    margin-top: 0;
}
.f{
    font-size: 15px
}
.profile{
    margin-bottom: 16px;
}

p{
    margin-bottom: 0;
}

.side-btn {
    display: inline-block;
    width: 35%;
    min-width: 100px;
    padding: 14px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background: #1DA1F2;
    color: #f6f6f6;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: 600;
    font-size:12px;
}

.icon{
    width: 12%;
}
.icon img{
    width: 90%;
    border-radius: 50%;
    background: #444;
}

.index-item{
    padding:10px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    width: 100%;
}
.card-name{
    font-weight: 900;
}
.sub{
    font-size: 14px;
    color:#AAAAAA;
    display: inline-block;
}

.aa{
    font-size: 14px;
    color:#AAAAAA;
}