<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  
      
    <div id="container">
      
      <div id="header">
        <%= render "header" %>
      </div>
      
      
      <div id="sidebar">
        <%= render "sidebar" %>
      </div>
      
      <div id="content">
        
        <%= yield %>
        </div>
        
        <div id="footer">
          <%= render "footer" %>
        </div>
        
    </div>
    
  </body>
</html>
